# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jdomingu <jdomingu@student.42malaga.com>   +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/06/07 19:56:03 by jdomingu          #+#    #+#              #
#    Updated: 2022/06/07 19:56:19 by jdomingu         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
*.swp
